.fast-div{
    background-repeat: no-repeat;
    width: 800px; height:655px;
    border-radius: 18px;
    background-position: center;
    background-size: 100%;
}
.new{
    color: #fcfbfb;

text-align: center;
font-family: Merriweather;
font-size: 52px;
font-style: normal;
font-weight: 76%;
line-height: 95px;
}
.second-new-year{
    text-align: center;
    mar
}
    
.OFF{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 90px;
font-weight: 700;
}
.HOLLIDA{
    color: rgb(153, 47, 47);

    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.ALL{
    color: #0a011b;
margin-top: 0px;
text-align: center;
font-family: Inter;
font-size: 50px;
font-weight: 700;
}
.img{
    width: 780px;
    height: 480;
}
.img-3rd{
    background-repeat: no-repeat;
    width: 1320px;
height: 600px;
display: flex;
justify-content:space-between;
}
.pragraph-bolog-3rd{
    margin-left: 70px;}
.wellcome-3rd{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing:5px;
}
.paragraph-3rd{
    color: rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.join-3rd{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;    
}
.img-bolog-3rd{
    margin-top: 90px;
    margin-right: 200px;
   margin-left: 90px;
   width: 319.83px;
   height: 464.662px;
}
.forth-div-fast{
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px;
    width: 1320px;
height: 382px;
background-color: rgb(243, 210, 210);
margin-top: 70px;
border-radius: 10px;
}
.join{
    color: #f00606;
/*background-color: red;*/
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.display-flex{
    display: flex;
}
.new{
    color: rgb(247, 7, 7);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500px;
}
.comming{
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.lorem{
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.Image{
    width: 364.844px;
height: 364.844px;
}
.flex{
    color: #F00;

    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
.flex-paragraph{
    color: rgba(7, 2, 17, 0.60);

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
} 
.happy-goup{
    width: 140px;
height: 140px;
}
.WHAT{
    color: #070211;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
} .holidays
{
    color: #F00;

text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;

}
.spaning{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
.dolor{
    color: rgba(7, 2, 17, 0.60);

text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; 
}
.sexth-div{
    text-align: center;
}
.Group-75{
    background-position:;
    display: flex;
    background-repeat: no-repeat;
    background-position: bottom;
    
}
.meye-tay{
.best{
    color: #F00;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.our{
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
      text-transform: capitalize;
}
.product{
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.last-up{
    background-color: rgb(192, 158, 158);
    text-align: center;

}
.last-up-2{
    
}
.iimg{
    justify-content: center;
    margin-left: 800px;
}
.last-up{
    justify-content: center;
    text-align: center;
}
.dis-flex{
    display: flex;
    color: #fcfbfb;
}
.last{
    background-color: #070211;
}